<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"3rem","bottom":"4rem"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull" style="padding-top:3rem;padding-bottom:4rem">
  <!-- wp:group {"align":"wide","className":"template-inner","layout":{"type":"constrained","contentSize":"760px"}} -->
  <div class="wp-block-group alignwide template-inner">
    <!-- wp:post-title {"level":1} /-->
  </div>
  <!-- /wp:group -->
  <!-- wp:post-content {"layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
